#navBar {
    display: flex;
    border-bottom: 1px solid black;
    height: 10vh;
}

#products {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    /* border-left: 1px solid gray; */
    /* border-right: 1px solid gray; */
    min-height: 89.9vh;
}

#orderInfo {
    width: 20%;
    position: absolute;
    right: 0;
}

.productDiv {
    height: 200px;
    border: 1px solid rgb(203, 202, 202);
    display: flex;
    overflow-y: auto;
}


.productInfo {
    margin-left: 6px;
}

.productDiv h3 {
    /* display: inline-block; */
}

.productDiv p{
    /* display: inline-block;
    /* width: 40px; */
    /* margin-right: 0; */
}

.productImg {
    /* display: inline-block; */
    height: 198px;
    /* position: relative; */
}