.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SignContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid black;
  /* background-color: #9de6fa; */
}

.Register input:hover {
  background-color: #61dafb;
}

.buttonToLogin button {
  margin-top: 15px;
  margin: 8px;
  font-weight: 600;
  padding: 5px;
  border-radius: 7px;
}

.buttonToLogin button:hover {
  background-color: cadetblue;
}

.ProductsHeader {
  margin: auto;
  width: 30%;
  display: block;
  text-align: center;
}

.ProductsHeader input {
  text-align: center;
}
.link {
  text-align: center;
}

.Cart_Btn {
  position: absolute;
  right: 10%;
  transform: translateX(-50%);
  margin-top: 15px;
}

.DetailTitle {
  margin-top: 10px;
  text-align: center;
}

.ImgContainer {
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.DetailName {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 15px;
}

.DetailDescription {
  margin: auto;
  width: 800px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.bodyDetails {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}

.bodyDetails p {
  margin-left: 10px;

  color: black;
}

.bodyDetails span {
  font-size: large;
  font-weight: bolder;
}

u {
  font-weight: 500;
}

.ShopCartdiv {
  margin: auto;
  width: 50%;

  padding: 10px;
}

.ShopCartdiv span {
  font-size: large;
  font-weight: bolder;
}
